html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/*descended selector*/
header h1{
    font-weight: 400; 
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem
    
}
nav{
    width: 20rem;
    position: relative;
    position: relative;
    top: 14px;
}
ul{
    display: flex;
    justify-content: space-around;
   

}

li{
    list-style: none;
}

.showcase_img{
    width: 95vw;
    margin: 1rem;
}
article{
    display: flex;
    justify-content: space-around;
    margin-left: 7rem;
    margin-right: 7rem;
    
}
footer{
    
    block-size: 50px;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black
}
.subj{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 900;
    text-shadow: 1rem;
}
.img{
    margin-left: 5rem;
}
.heading{
    font-size: xx-large;
    margin-left: 7rem;
}

h3.hover{
    color: red;
}